body{
display: flex;
align-items: center;
justify-content: center;
height: 100vh;
margin: 0;
}

.row{
    width: 300px;
    display: flex;
}
.cell{
    width: 100px;
    height: 100px;
    border: solid black 1px;
    box-sizing: border-box;
    
}